<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>                     <!--컨트롤러에서 서로다른 컨트롤러가 이곳, 하나의 html 을 향한다-->
    <meta charset="UTF-8"> <!--add 의 경우 id 가 없이 들어오는것이고 edit 의 경우 id 를 갖고 들어오는것이다.-->
    <title th:text="${teacher.id} == null ? '➕ 교사 등록' : '✏️ 교사 수정'"></title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1 th:text="${teacher.id} == null ? '➕ 교사 등록' : '✏️ 교사 수정'"></h1>
<p>
    <a href="/">🏠 홈으로</a>
    <a href="/teachers">👥 교사 목록</a>
</p>
                                                                                <!--모델어트리뷰트일때는 이렇게 해야함 (모델어트리뷰트의 teacher) -->
<form th:action="${teacher.id} == null ? @{/teachers/add} : @{/teachers/edit}" th:object="${teacher}" method="post">
    <input type="hidden" th:field="*{id}"> <!--id 가 없는 경우는 적용되지 않는다.-->
    <p><label>이름: <input type="text" th:field="*{name}" required /></label></p>
                                    <!--name="" 이 아니다-->
    <p>
        <button type="submit" th:text="${teacher.id} == null ? '저장' : '수정'">저장</button>
        <a href="/teachers">취소</a>
    </p>
</form>

</body>
</html>